.btn {
  background-color: $bg-color;
  border: none;
  color: $title-text-color;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px 25px;
  outline-width: 0px;

  &:focus,
  &:hover {
    background-color: $assent-color;
    color: $white-color;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btn__main {
  background-color: $assent-color;
  border: none;
  color: $bg-color;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 45px;
  width: 200px;
  height: 50px;
  outline-width: 0px;
}
.btn__submit {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 42px;
  background-color: $assent-color;
  border: none;
  color: $white-color;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  outline-width: 0px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.btn__submit-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 28px;
  margin-right: 0px;
  padding-right: 12px;
}
