.form-footer {
  display: flex;
  margin-top: 75px;
  @include for-size(mobile) {
    display: block;
  }

  @include for-size(tablet) {
    display: block;
  }

  @include for-size(desktop) {
    display: flex;
  }
}
.form-footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
.form-footer__field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-top: 20px;
  margin-right: 12px;
  outline-width: 0px;
}
.form-footer--hint::placeholder {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer--hint {
  width: 330px;
  border: 0px;
  padding: 0px;
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 0px;
  margin-bottom: 15px;
  background-color: transparent;
  outline-width: 0px;
}
.form-footer__icon {
  width: 24px;
  height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  padding-right: 0px;
  fill: $white-color;
}
