.page__header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ececec;
}
.page__header .flexbox {
  justify-content: flex-end;
  align-items: center;
}
