.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: $logo-color;
  font-style: normal;
  margin-right: 95px;
}
.logo__part {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: $assent-color;
}
