.menu {
  display: none;

  @include for-size(tablet) {
    display: flex;
  }
}
.navigation {
  display: none;
  align-items: center;
  margin-right: auto;

  @include for-size(tablet) {
    display: flex;
  }
}
.menu--main:hover,
.menu--main:focus,
.contacts-item:hover,
.contacts-item:focus,
.link:hover,
.link:focus {
  color: $assent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu--main {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
}
.menu__item:not(:last-child) {
  margin-right: 55px;
}
.menu__item--active {
  color: $assent-color;
}
.menu__item--active {
  position: relative;
}
.menu__item--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -43px;
  width: 100%;
  height: 2px;
  background-color: $assent-color;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contacts-item {
  color: $main-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.menu__icon-mail {
  width: 16px;
  height: 12px;
  margin-bottom: -2px;
  margin-right: 10px;
  fill: $main-text-color;
}
.menu__icon-phone {
  width: 12px;
  height: 16px;
  margin-bottom: -3px;
  margin-right: 10px;
  fill: $main-text-color;
}
.menu__contacts-item:hover .menu__icon-phone {
  fill: $assent-color;
}
.menu__contacts-item:hover .menu__icon-mail {
  fill: $assent-color;
}
