.hero__slidebar {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 215px;

  @include for-size(tablet) {
    padding-top: 125px;
  }

  @include for-size(mobile) {
    padding-top: 125px;
  }
  @include for-size(mobile-only) {
    padding-top: 125px;
  }
}

.hero {
  background-image: url(../img/desktop/slidebar-001.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 1199px) {
    background-image: url(../img/tablet/slidebar-001.jpg);
    max-width: 1200px;
    height: 400px;
  }
  @media screen and (max-width: 767px) {
    background-image: url(../img/mobile/slidebar-001.jpg);
    max-width: 768px;
    height: 400px;
  }
}
