.hero__slidebar {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 215px;
}

.hero {
  background-image: url(../img/slidebar-001.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}
