.projects {
  display: block;
  margin: -15px;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects__item {
  width: 450px;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 30px * 3) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.project__card {
  background: var (--white-color);
}
.project__card:hover {
  background: var (--white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #bdbdbd;
  overflow: hidden;
}
.project__img:hover .project__overlay {
  transform: translateY(0);
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.project__overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #2a2a2a;
}

.project__overlay-text {
  color: $white-color;
  padding: 63px 24px;
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.project__caption {
  padding-left: 25px;
}
